@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf");
}

:root{
  --nav_h: 20px;
  --button_w: 166px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  background: inherit;
  border: none;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: bold;
}

body{
  width: 100vw;
  height: 100vh;
  background: #1D2026;
  border: 4px solid #c3c3c3;
  border-radius: 10px;
  padding: 10px;
}

nav{
  flex: 1;
  display: flex;
  gap: 5px;
  justify-content: end;
  height: var(--nav_h);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 10px);
}

#logo{
  margin-top: 10px;
  text-align: center;
  font-size: 2.5em;
  width: 70%;
  margin-inline: auto;
  position: relative;
}

#logo::after{
  content: "";
  width: 220px;
  height: 6px;
  background: #586E96;
  border-radius: 10px;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.buttons_functions{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 70%;
  margin-inline: auto;
  margin-bottom: 60px;
}

.btn1{
  width: var(--button_w);
  border: 2px solid #586E96;
  border-radius: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 45px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1em;
}

.drag_area label{
  width: calc(2 * var(--button_w) + 15px);
  border: 2px dashed #586E96;
  padding-inline: 22px;
  gap: 10px;
}

.btn1:active{
  scale: .98;
}
